.contenedor-libros {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .tarjeta-libro {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
  }
  
  button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #218838;
  }
  