<app-header></app-header>

<div class="form-container">
  <h2>Agregar Libro</h2>
  <form (submit)="onSubmit($event)">
    <label for="titulo">TITULO:</label>
    <input type="text" id="titulo" name="titulo" [(ngModel)]="book.title" />

    <label for="author">AUTHOR:</label>
    <input type="text" id="author" name="author" [(ngModel)]="book.author" />

    <label for="precio">PRECIO:</label>
    <input type="number" id="precio" name="precio" [(ngModel)]="book.price" />

    <button type="submit">AGREGAR</button>
  </form>
</div>

