
<app-header></app-header>
<div class="container">
    
    <main>
        <div class="card" routerLink="/agregar">
            <img src="assets/open.png" alt="Agregar Libro" />
            <p>Agregar Libro</p>
          </div>
          
      <div class="card" routerLink="/editar">
        <img src="assets/edit.png" alt="Editar Libro" />
        <p>Editar Libro</p>
      </div>
      <div class="card" routerLink="/eliminar">
        <img src="assets/delete.png" alt="Eliminar Libro" />
        <p>Eliminar Libro</p>
      </div>
    </main>
  </div>
  